<nav>
  <div class="mobile-nav">
    <div class="logo">
      <a href="/">
        <%= navTitle %> 
      </a>
    </div>
    <div class="user" id="user">
      <a href="javascript:;" class="userbtn"><i class="far fa-user-circle"></i></a>
    </div>
  </div>
</nav>