<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <div class="error-container">
      <div class="animasi-1"></div>
      <div class="animasi-2"></div>
      <span class="error-text">
        OOPS!
      </span>
      <p>
        Currently you cannot view this page offline
      </p>
      <br>
      <button class="tombol tmb-utama">
        <a href="/">
          <strong>
            Go Back to Home
          </strong>
        </a>
      </button>

    </div>
    <!-- <%- include('./partials/footer-script.ejs') %> -->

  </body>

</html>